<div class="container-fluid" style="min-height: 92%;">
    <app-nav></app-nav>
  
    
  
      <!-- Login Form -->
        <div class="offset-md-4 col-md-4 mt-md-5 my-3" >
          <div class="" style="background: #FFFFFF;
          border-radius: 20px;margin-top: 60px;">
          <h5 class="text-center py-3" style="background: #00D2CA;
          border-radius: 20px 20px 0px 0px;">
            {{ 'mainModule.login.ForgetPassword' | translate }}
          </h5>
            <form   class="p-5" autocomplete="off">
  
                 <!-- Password -->
            <div class="form-group mt-3">
                <div class="input-group mb-3 w-100">
                  <label for="Phone" style="color: #727685;" class=" w-100">
                    <span class="text-danger  "> * </span>
                        {{  "mainModule.RegisterPage.Password" | translate }}
                      </label>
                      <!-- [(ngModel)]="loginDoctorForm.Password"  -->
                          <input class="form-control "
                                  id="Pass"
                                   type="password"
                                  placeholder="*******"
                                  name="Password"
                                  #pass
                                  required>
        
                          <span (click)="passwordIcon()"
                                class="input-group-text border-rounded"
                                style="background-color: white!important; cursor: pointer;">
                                <i
                                class="far  text-end "
                                [ngClass]="{'fa-eye-slash' : !toggle , 'fa-eye' : toggle}"
                                id="togglePassword"></i>
                          </span>
                        </div> 
              </div>

           
               
        
              <!-- forget Password -->
              <div class="forgetPassword mt-2"> 
                  <button class="btn blue-btn text-white" (click)="changepass(pass.value)">change password</button>
               </div>
               
        
            </form>
          </div>
        </div>
  
        <!-- spinner -->
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
          <p style="color: white"> {{ 'spinner' | translate }} </p>  
          </ngx-spinner> 
  
  
  </div>
  <div  >
    <app-footer></app-footer>
  </div>
  
  
  
  