

  

<div class="container-fluid" style="height:100% ;">
  <!-- <div style="min-height: 92%;position: relative;overflow-y: auto;overflow-x: hidden;"> -->
  <div class="d-flex align-items-start" style="height:10% ;">
      <app-nav></app-nav>
  </div>
  <div class="d-flex align-items-center  justify-content-center" style="height:80% ;">
     

 <!-- Login Form -->
 <div class="" >
  <div class="" style="background: #FFFFFF;
  border-radius: 20px;margin-top: 60px;">
  <h3 class="text-center py-3" style="background: #00D2CA;
  border-radius: 20px 20px 0px 0px;">
    {{ 'mainModule.login.ForgetPassword' | translate }}
  </h3>
    <div   class="p-5" autocomplete="off">

         <!-- Password -->
    <div class="form-group mt-3">
        <div class="input-group mb-3 w-100">
          <label for="Phone" style="color: #727685;" class=" w-100">
            <span class="text-danger  "> * </span>
                {{  "mainModule.RegisterPage.Password" | translate }}
              </label>
              <!-- [(ngModel)]="loginDoctorForm.Password"  -->
                  <input class="form-control "
                          id="Pass"
                           type="password"
                          placeholder="*******"
                          name="Password"
                          #pass
                          [(ngModel)]="newpass"
                          required>

                  <span (click)="passwordIcon()"
                        class="input-group-text border-rounded"
                        style="background-color: white!important; cursor: pointer;">
                        <i
                        class="far  text-end "
                        [ngClass]="{'fa-eye-slash' : !toggle , 'fa-eye' : toggle}"
                        id="togglePassword"></i>
                  </span>
                </div> 
      </div>

   
       

      <!-- forget Password -->
      <div class="forgetPassword mt-2"> 
          <button class="btn blue-btn text-white py-3 px-3 mt-3" 
          (click)="changepass()">change password</button>
       </div>
       

      </div>
  </div>
</div>

<!-- spinner -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
<p style="color: white"> {{ 'spinner' | translate }} </p>  
</ngx-spinner>  

  </div>
  <!-- </div> -->
  <!-- <div class="d-flex align-items-end">
     
  </div> -->
  <div class="d-flex align-items-end" style="height:10% ;">
      <app-footer></app-footer>
  </div>
</div>
  
  
  