<div class="container-fluid " style="height:100% ;">

  <div class="d-flex align-items-start" style="height:10% ;">
      <app-nav></app-nav>
  </div>

  <div class="d-flex align-items-center  justify-content-center" style="height:80% ;">
     
    <!-- Login Form -->
    <div class=" col-md-8 mt-md-5 my-3 " >
      <div class="" style="background: #FFFFFF;border-radius: 20px;margin-top: 60px;">
      <h2 class="text-center py-3" style="background: #00D2CA;border-radius: 20px 20px 0px 0px;">
        {{ 'mainModule.login.ForgetPassword' | translate }}
      </h2>
      <div class="d-flex align-items-center  justify-content-center " style="background-color:#f1f1f1 ;">
        <div class="form-check px-3 py-3">
          <input class="form-check-input" 
                  type="radio" 
                  (change)="onphoneChange($event)"
                  name="flexRadioDefault" 
                  id="flexRadioDefault1"
                  checked>

          <label class="form-check-label" for="flexRadioDefault1">
            Using Phone Number
          </label>

        </div>
        <div class="form-check px-3 py-3">
          <input class="form-check-input" 
          (change)="onemailChange($event)"
          type="radio" 
          name="flexRadioDefault" 
          id="flexRadioDefault2" >

          <label class="form-check-label" 
          for="flexRadioDefault2">
            Using Email Address
          </label>

        </div>
      </div>
        <div   class="p-5 " autocomplete="off">
            <!-- Email -->

            <div class="form-group" [hidden]="!EmailCheck">
                <label class="label-input">
                  <!-- <span class="star"> * </span> -->
                  {{ "mainModule.RegisterPage.Email" | translate }}
                </label>

                <div class="">
                  <input
                    type="email"
                    [(ngModel)]="useremail"
                    class="form-control"
                    name="something" />
                </div> 
                <!-- forget Password -->
          <div class="forgetPassword mt-2"> 
            <button (click)="ValidProccessemail()"  type="button" 
                     class="btn blue-btn  text-white px-3 py-3 mt-3" 
                     data-toggle="modal" 
                     data-target="#staticBackdrop">
              Reset Password
            </button>
          </div>
          <div class="forgetPassword mt-2"> 
            <label class="Dont-have-an-account-create-account mt-2" data-bs-dismiss="modal" aria-label="Close">
             
              <a  [routerLink]="['/Login']"
                  style="color: #262d70;">
                  Login Page
              </a>
          </label>
          </div>
              </div>
           
              <div class="form-group" [hidden]="!PhoneCheck">
                <label class="label-input">
                  {{ "mainModule.RegisterPage.phone" | translate }}
                </label>

                <div class="">
                  <input
                    type="text"
                    [(ngModel)]="PhoneNumber"
                    class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="11"
                    minlength="8" />
                </div> 
               
                <!-- forget Password -->
          <div class="forgetPassword mt-2"> 
            <button (click)="ValidProccessphone()"  type="button" 
                     class="btn blue-btn  text-white px-3 py-3 mt-3" 
                     data-toggle="modal" 
                     data-target="#staticBackdrop">
              Reset Password
            </button>
          </div>
          <div class="forgetPassword mt-2"> 
            <label class="Dont-have-an-account-create-account mt-2" data-bs-dismiss="modal" aria-label="Close">
             
              <a  [routerLink]="['/Login']"
                  style="color: #262d70;">
                  Login Page
              </a>
          </label>
          </div>
              </div>

        </div>
      </div>
    </div>

    <!-- spinner -->
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white"> {{ 'spinner' | translate }} </p>  
      </ngx-spinner> 

  </div>

  <div class="d-flex align-items-end" style="height:10% ;">
      <app-footer></app-footer>
  </div>
</div>