<div class="row main-sidebar">

  <div class="col-12 col-md-2 sidebar-col">
      <div class="sidebar-item">
          <ul>
              <li id="sidebarinfo"          class="li-Content" ><span>{{'mainModule.Clinic.sidebarinfo' | translate}}</span></li>
              <li id="sidebargalary" #DoctorinfoRef   class="li-Content" ><span>{{'mainModule.Clinic.sidebargalary' | translate}}</span></li>
              <li id="sidebarschedule"    class="li-Content" ><span>{{'mainModule.Clinic.sidebarschedule' | translate}}</span></li>
          </ul>
      </div>
  </div>

  <div class="col-12 col-md-10  var-component  mb-5">
      <div class="container container-outlet ">

          <div class=" row-outlet"> 
                  <router-outlet > </router-outlet> 
          </div>

          <div  class="row row-terms mt-md-0 mt-5 pb-md-0 pb-4  mr-auto" >

                <div class="col-12 Terms-Condition-style d-flex"  >
                        <span>
                            {{'mainModule.sideBar.singingUpYouAreApproveOur' | translate}}
                            <span class="termsCondition-style" routerLink="/terms">
                                {{'mainModule.sideBar.Terms&Conditions' | translate}}
                            </span>
                        </span>
                </div>

          </div>

      </div>

  </div>

</div>
