.navbar {
  background: #F9F9F9;
  border: 1px solid #E5E5E5;
  border-radius: 0px 0px 14px 14px; 
} 

/* 
.msg {
  width: 56px;
  height: 50px;
  font-size: 19px;
  color: #00d2ca;
  padding: 13px 15px;
  border-radius: 10px;
  background-color: rgba(0, 210, 202, 0.07);
} */

.notification { 
  height: 50px;
  font-size: 19px;
  color: #262d70;
  padding: 11.9px 16px 11.9px 16px;
  border-radius: 10px;
  background-color: rgba(38, 45, 112, 0.04);
}
.img-fluid2 {
  width: 50px !important;
  height: 50px !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    align-items: baseline;
  }
}

.msyd16 {
  width: 56px;
  height: 14px;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  text-align: end;
  color: black !important;
}

.card-text{
  width: 116px;
  height: 14px;
  font-size: 12px;
  font-weight: 500;
  text-align: start;
  color: #727685 !important;
  border: 0;
}
.main-color{
  background: #F3F3F3;
  border-radius: 10px;
}