<div class="">
  <nav class="navbar navbar-expand-lg navbar-light container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand "><img src="./assets/img/logo.webp" class="logo"></a>
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Login']" routerLinkActive="router-link-active" >{{ 'mainModule.Home' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/about-us']" routerLinkActive="router-link-active" >{{ 'mainModule.AboutUs' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/contact-us']" routerLinkActive="router-link-active" >{{ 'mainModule.ContactUs' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " [routerLink]="['/help']" routerLinkActive="router-link-active" >{{ 'mainModule.Help' | translate }}</a>
          </li>
        </ul>


        <div class="d-flex">
          <!-- <app-login></app-login> -->

          <div *ngIf="DefaultLang == 'en'" style="cursor: pointer;">
            <div class="btn-lang p-2 rounded" (click)="ChangeLanguage(DefaultLang)">
              
              عربى
            </div>
          </div>
          <div *ngIf="DefaultLang == 'ar'" style="cursor: pointer;">
            <div class="btn-lang p-2 rounded" (click)="ChangeLanguage(DefaultLang)">
              English
             
            </div>
          </div>
        </div>



      </div>


    </div>
  </nav>
</div>

