<form class="d-block" dir="auto" [formGroup]="DoctorInfoForm" *ngIf="DoctorInfoForm">
    <div class="row">
      <!-- Picture Doctor -->
      <div class="col-lg-4 col-md-12  col-sm-12 mb-4">
        <div class="row img-block just">
          <div class="col img-col-block">
            <img src="{{url_img}}" />
          </div>
        </div>
        <div class="row ChangeProfilePhoto-block ">
          <div class="col justify-content-center" style="display: flex; align-items: center">
            <input type='file'
                    formControlName="ImageDoctor"
                   #file
                   accept="image/*" id="getFile" style="display:none"
                  (change)="preview(file.files)">

            <button disabled
                    class="changePhoto-btn">
              Change Profile Photo
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="row">
          <!-- First Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">
              {{"mainModule.signup.FirstName" | translate }}
            </span>
            <span class="star"> * </span>
            <div class="input-style">
              <label class="form-control" >
                  {{DoctorProfile.FirstName}}
              </label>
            </div>
          </div>

          <!-- First Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.FirstNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.FirstNameAr}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Middle Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">{{
              "mainModule.signup.MiddleName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.MiddelName}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Middle Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.MiddleNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.MiddelNameAr}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Last Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">{{
              "mainModule.signup.LastName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.LastName}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Last Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.LastNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.LastNameAr}}
                    </label>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Gender -->
      <div class="col-12 col-md-4 mb-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Gender" | translate
          }}</span>
        <span class="star"> * </span>
        <div class="input-style">
            <label class="form-control" *ngIf="DoctorProfile.GenderId == 1;else elseblock">
               Male
            </label>
            <ng-template #elseblock>
                Female
            </ng-template>
          </div>
      </div>

      <!-- Nationality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">
          {{ "mainModule.DoctorInfo.Nationality" | translate }}
        </span>
        <span class="star"> * </span>
        <div class="input-style">
            <label class="form-control">
               Egypt
            </label>
          </div>
      </div>

      <!-- Date_of_birth -->
      <div class="col-12 col-md-4">
        <div class="">
          <span class="lbl-Register">{{
            "mainModule.DoctorInfo.Date_of_birth" | translate
            }}</span>
          <span class="star"> * </span>
          <div class="input-style">
            <label class="form-control">
                {{date}}
             </label>
        </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Speciality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Speciality" | translate
          }}</span>
        <span class="star"> * </span>
        <select formControlName="Speciality"
                (change)="SelectSpeciality($event)"
                class="form-select" aria-label="Default select example">
          <option value="" selected disabled >
            {{ "mainModule.DoctorInfo.Speciality" | translate }}
          </option>
          <option *ngFor="let item of DropDownList_Speciality" value={{item.Id}}>
            {{item.Name}}
            </option>
        </select>
      </div>

      <!-- SubSpeciality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.SubSpeciality" | translate
          }}</span>
        <span class="star"> * </span>
        <select formControlName="SubSpeciality"
                (change)="SelectSubSpeciality($event)"
                class="form-select"
                aria-label="Default select example">
          <option value="" selected disabled>
            {{ "mainModule.DoctorInfo.SubSpeciality" | translate }}
          </option>
          <option *ngFor="let item of DropDownList_SubSpeciality" value={{item.Id}}>
            {{item.Name}}
            </option>
        </select>
      </div>

      <!-- Seniority -->
      <div class="col-12 col-md-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Seniority" | translate
          }}</span>
        <span class="star"> * </span>
        <div class="input-style">
            <label class="form-control">
                <!-- {{Seniority}} -->
                specialist
             </label>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Biography -->
      <div class="col-12 col-md-6">
        <div class="form-floating">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register">{{ "mainModule.DoctorInfo.Biography"
            | translate }}
            <span class="star"> * </span></label>
          <textarea formControlName='Biography' class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>

      <!-- BiographyAr -->
      <div class="col-12 col-md-6">
        <div class="form-floating textForArabic">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register"><span class="star"> * </span>
            {{"mainModule.DoctorInfo.BiographyAr" | translate }}</label>
          <textarea formControlName='BiographyAr' class="form-control textForArabic" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>
    </div>
  </form>

  <div class="row justify-content-end mt-4  ">
    <div class="col-2">
      <button  class="btn text-white w-100" style="background-color: #262d70" (click)="DoctorInfoSubmit()" [disabled]="!DoctorInfoForm.valid">
          {{"mainModule.DoctorInfo.Update" | translate }}
      </button>
    </div>
    <div class="col-2">
      <button  class="btn text-white w-100" style="background-color: #262d70" (click)="back()" >
          {{"mainModule.DoctorInfo.back" | translate }}
      </button>
    </div>
  </div>
