<div class="container-fluid my-4">

  <div class="row">
    <div class="col-12 path-row greenText mb-3">
        {{ "mainModule.main.Profile" | translate }} >  {{ "mainModule.sideBar.DoctorInfo" | translate }}
    </div>
</div>

  <form class="d-block"  [formGroup]="DoctorInfoForm" *ngIf="DoctorInfoForm">
    <div class="row">
      <!-- Picture Doctor -->
      <div class="col-lg-3 col-md-12  col-sm-12 mb-4">
        <div class="row img-block just">
          <div class="col img-col-block">
            <img src="{{url_img }}" />
          </div>
        </div>
        <div class="row ChangeProfilePhoto-block ">
          <div class="col justify-content-center" style="display: flex; align-items: center">
            <input type='file'
                    formControlName="ImageDoctor"
                   #file
                   accept="image/*" id="getFile" style="display:none"
                  (change)="preview(file.files)">

            <button disabled
                    class="upload-btn btn">
                    {{"mainModule.EMR.Patient.ChangePhoto" | translate}}
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-12 mb-4">
        <div class="row align-items-center">
          <!-- First Name -->
          <div class="col-lg-4 col-md-12 mb-4">
            <span class="lbl-Register">
              {{"mainModule.signup.FirstName" | translate }}
            </span>
            <span class="star"> * </span>
            <div class="input-style">
              <label class="form-control" >
                  {{DoctorProfile.FirstName}}
              </label>
            </div>
          </div>

         

          <!-- Middle Name -->
          <div class="col-lg-4 col-md-12 mb-4">
            <span class="lbl-Register">{{
              "mainModule.signup.MiddleName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.MiddelName}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Last Name -->
          <div class="col-lg-4 col-md-12 mb-4">
            <span class="lbl-Register">{{
              "mainModule.signup.LastName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.LastName}}
                    </label>
                  </div>
            </div>
          </div>
          </div>
          <div class="row align-items-center">

           <!-- First Name Ar -->
           <div class="col-lg-4 col-md-12 textForArabic mb-4">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.FirstNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.FirstNameAr}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Middle Name Ar -->
          <div class="col-lg-4 col-md-12 textForArabic mb-4">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.MiddleNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.MiddelNameAr}}
                    </label>
                  </div>
            </div>
          </div>

          

          <!-- Last Name Ar -->
          <div class="col-lg-4 col-md-12 textForArabic mb-4">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.LastNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.LastNameAr}}
                    </label>
                  </div>
            </div>
          </div>
        </div>
     
      <div class="row align-items-center">
    
   
      <!-- Gender -->
      <div class="col-lg-4 col-md-12 mb-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Gender" | translate
          }}</span>
        <span class="star"> * </span>
        <div class="input-style"> 
          <label class="form-control" *ngIf="DoctorProfile.GenderId == 1;else elseblock">
            Male
         </label>
            <ng-template  #elseblock>

            <label class="form-control" >
              Female
           </label> 
              
            </ng-template>
          </div>
      </div>

      <!-- Nationality -->
      <div class=" col-lg-4 col-md-12 mb-4">
        <span class="lbl-Register">
          {{ "mainModule.DoctorInfo.Nationality" | translate }}
        </span>
        <span class="star"> * </span>
        <div class="input-style"> 
               <label class="form-control">
                Egypt
             </label>
          </div>
      </div>

      <!-- Date_of_birth -->
      <div class=" col-lg-4 col-md-12 mb-4">
        <div class="">
          <span class="lbl-Register">{{
            "mainModule.DoctorInfo.Date_of_birth" | translate
            }}</span>
          <span class="star"> * </span>
          <div class="input-style">
            <label class="form-control">
                {{date}}
             </label>

        </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <!-- Speciality -->
      <div class="col-md-12 col-lg-4  ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Speciality" | translate
          }}</span>
        <span class="star"> * </span> 
        <div class="input-style">
          <input type="text " class="form-control"  [placeholder]="specialist" disabled>
        </div>
      </div>

      <!-- SubSpeciality -->
      <div class="col-md-12 col-lg-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.SubSpeciality" | translate
          }}</span>
        <span class="star"> * </span>
       <div>
        <mat-form-field appearance="fill" >
          <mat-select formControlName="SubSpeciality" multiple class="form-select w-100">
           <mat-option *ngFor="let item of DropDownList_SubSpeciality" [value]="item?.Id">
             {{item?.Name}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       </div>
      </div>  
    

      <!-- Seniority -->
      <div class="col-md-12 col-lg-4  ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Seniority" | translate
          }}</span>
        <span class="star"> * </span>
        <div class="input-style">
           
             <input type="text" class="form-control"  [placeholder]="Seniority" disabled>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <!-- Biography -->
      <div class="col-12 col-md-6">
        <div class="form-floating">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register">{{ "mainModule.DoctorInfo.Biography"
            | translate }}
            </label>
          <textarea formControlName='Biography' class="form-control" placeholder="{{'mainModule.DoctorInfo.Leave a comment here'|translate}}" id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>

      <!-- BiographyAr -->
      <div class="col-12 col-md-6">
        <div class="form-floating textForArabic">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register">
            {{"mainModule.DoctorInfo.BiographyAr" | translate }}</label>
          <textarea formControlName='BiographyAr' class="form-control textForArabic" placeholder="{{'mainModule.DoctorInfo.Leave a comment here'|translate}} " id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>
    </div>
  </div>
    </div>


    <div class="row justify-content-md-between justify-content-center my-4  "  >
      <div class="col-md-2 col-4">
        <button  class="btn blue-btn px-3"  (click)="back()" >
            {{"mainModule.DoctorInfo.back" | translate }}
          </button>
        </div>
        <div class="col-md-2 col-4">
          <button [disabled]="DoctorInfoForm?.invalid"  class="btn blue-btn" (click)="DoctorInfoSubmit()" [disabled]="!DoctorInfoForm?.valid">
              {{"mainModule.DoctorInfo.Update" | translate }}
          </button>
        </div>
    </div>
  </form>

  <!-- spinner -->
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white"> {{ 'spinner' | translate }} </p>  
  </ngx-spinner> 
</div>