<form class="d-block"  [formGroup]="DoctorInfoForm" *ngIf="DoctorInfoForm">
    <div class="row">
      <!-- Picture Doctor -->
      <div class="col-lg-4 col-md-12  col-sm-12 mb-4">
        <div class="row img-block just">
          <div class="col img-col-block">
            <img src="{{url_img }}" />
          </div>
        </div>
        <div class="row ChangeProfilePhoto-block ">
          <div class="col justify-content-center" style="display: flex; align-items: center">
            <input type='file'
                    formControlName="ImageDoctor"
                   #file
                   accept="image/*" id="getFile" style="display:none"
                  (change)="preview(file.files)">

            <button disabled
                    class="changePhoto-btn">
                    {{"mainModule.EMR.Patient.ChangePhoto" | translate}}
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="row">
          <!-- First Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">
              {{"mainModule.signup.FirstName" | translate }}
            </span>
            <span class="star"> * </span>
            <div class="input-style">
              <label class="form-control" >
                  {{DoctorProfile.FirstName}}
              </label>
            </div>
          </div>

          <!-- First Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.FirstNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.FirstNameAr}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Middle Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">{{
              "mainModule.signup.MiddleName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.MiddelName}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Middle Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.MiddleNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.MiddelNameAr}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Last Name -->
          <div class="col-lg-6 col-sm-12">
            <span class="lbl-Register">{{
              "mainModule.signup.LastName" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.LastName}}
                    </label>
                  </div>
            </div>
          </div>

          <!-- Last Name Ar -->
          <div class="col-lg-6 col-sm-12 textForArabic">
            <span class="lbl-Register">{{
              "mainModule.DoctorInfo.LastNameAr" | translate
              }}</span>
            <span class="star"> * </span>
            <div class="input-style">
                <div class="input-style">
                    <label class="form-control">
                        {{DoctorProfile.LastNameAr}}
                    </label>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Gender -->
      <div class="col-12 col-md-4 mb-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Gender" | translate
          }}</span>
        <span class="star"> * </span>
        <div class="input-style"> 
            <input placeholder="Male" type="text" class="form-control" *ngIf="DoctorProfile.GenderId == 1;else elseblock">
            <ng-template  #elseblock>

            <input placeholder="Female" type="text" class="form-control" >
               
              
            </ng-template>
          </div>
      </div>

      <!-- Nationality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">
          {{ "mainModule.DoctorInfo.Nationality" | translate }}
        </span>
        <span class="star"> * </span>
        <div class="input-style"> 
               <input placeholder="Egypt" type="text" class="form-control"  >

          </div>
      </div>

      <!-- Date_of_birth -->
      <div class="col-12 col-md-4">
        <div class="">
          <span class="lbl-Register">{{
            "mainModule.DoctorInfo.Date_of_birth" | translate
            }}</span>
          <span class="star"> * </span>
          <div class="input-style">
            <label class="form-control">
                {{date}}
             </label>
        </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Speciality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Speciality" | translate
          }}</span>
        <span class="star"> * </span> 
          
          <input type="text " class="form-control"  [placeholder]="specialist" disabled>
          
      </div>

      <!-- SubSpeciality -->
      <div class="col-12 col-md-4 mb-4">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.SubSpeciality" | translate
          }}</span>
        <span class="star"> * </span>
       <div>
        <mat-form-field appearance="fill" >
          <mat-select formControlName="SubSpeciality" multiple class="form-select w-100">
           <mat-option *ngFor="let item of DropDownList_SubSpeciality" [value]="item?.Id">
             {{item?.Name}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       </div>
      </div>  
     
     

      <!-- Seniority -->
      <div class="col-12 col-md-4 ">
        <span class="lbl-Register">{{
          "mainModule.DoctorInfo.Seniority" | translate
          }}</span>
        <span class="star"> * </span>
        <div class="input-style">
           
             <input type="text" class="form-control"  [placeholder]="Seniority" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Biography -->
      <div class="col-12 col-md-6">
        <div class="form-floating">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register">{{ "mainModule.DoctorInfo.Biography"
            | translate }}
            </label>
          <textarea formControlName='Biography' class="form-control" placeholder="{{'mainModule.DoctorInfo.Leave a comment here'|translate}}" id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>

      <!-- BiographyAr -->
      <div class="col-12 col-md-6">
        <div class="form-floating textForArabic">
          <label for="floatingTextarea2 " class="position-relative px-0 lbl-Register">
            {{"mainModule.DoctorInfo.BiographyAr" | translate }}</label>
          <textarea formControlName='BiographyAr' class="form-control textForArabic" placeholder="{{'mainModule.DoctorInfo.Leave a comment here'|translate}} " id="floatingTextarea2"
            style="height: 120px"></textarea>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-end justify-content-center mt-4  "  >
      <div class="col-md-2 col-4">
        <button  class="btn text-white w-100" style="background-color: #262d70" (click)="back()" >
            {{"mainModule.DoctorInfo.back" | translate }}
          </button>
        </div>
        <div class="col-md-2 col-4">
          <button [disabled]="DoctorInfoForm?.invalid"  class="btn text-white w-100" style="background-color: #262d70" (click)="DoctorInfoSubmit()" [disabled]="!DoctorInfoForm?.valid">
              {{"mainModule.DoctorInfo.Update" | translate }}
          </button>
        </div>
    </div>
  </form>

