<app-nav></app-nav>

    <div class="about-section d-flex justify-content-center">
        <div class="inner-container">
            <h1>{{ "AboutUs.AboutUsTitle" | translate }}</h1>
            <p class="text"> 
                 <label>{{ "AboutUs.AboutUs_1" | translate }} </label><br><br>
                 <label>{{ "AboutUs.AboutUs_2" | translate }} </label><br>
                 <label>{{ "AboutUs.AboutUs_3" | translate }} </label><br>
                 <label>{{ "AboutUs.AboutUs_4" | translate }} </label><br>
                 <label>{{ "AboutUs.AboutUs_5" | translate }} </label><br>
                 <label>{{ "AboutUs.AboutUs_6" | translate }} </label><br>
                 <label>{{ "AboutUs.AboutUs_7" | translate }} </label><br>
               </p>

        </div>
    </div>
