<div class="row">
    <div class="col-12" style="padding-left: 0px; padding-bottom: 20px">
      <div class="greenText" style="font-size: 16px; font-weight: 500">
        {{ "mainModule.Clinic.clinic" | translate}}
      </div>
    </div>
  </div>

<!-- No Clinic Found Block -->
<div *ngIf="tempvar == true;else elseBlock" class="main-clinic d-flex  justify-content-center align-items-center">
    <div class="row d-flex justify-content-center ">
        <img src="../../../../assets/img/NoClinicFound.png" class="NoClinicFound-style">
        <div style="text-align: center;">
            <span class="NoClinicFound-title"> {{"mainModule.clinicmanager.main.Therearenoaddedclinicyet" | translate}}</span>
            <span class="NoClinicFound-lbl"> {{"mainModule.clinicmanager.main.ManageyourallClinicsbyadd" | translate}}</span>
            <span class="NoClinicFound-lbl">{{"mainModule.clinicmanager.main.Themthrowonepress" | translate}}</span>
        </div>
        <div class="AddNewClinic-style">
            {{"mainModule.clinicmanager.main.AddNewClinic" | translate}}
        </div>
    </div>
</div>

<!-- Exist Clinic Block -->
<ng-template #elseBlock>
   
    <div class="row ">
        <div class="col-12" style="padding-left:0px;padding-bottom: 20px;">
            <div class="AddNewClinic-style" routerLink="/clinic">
                <i class="fas fa-plus"></i>
                {{"mainModule.clinicmanager.main.AddNewClinic" | translate}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 Clinic-block">
            <div class="container">
                <div class="row Clinic-table-header">
                    <div class="col-8 col-md-3 ">{{"mainModule.clinicmanager.main.ClinicName" | translate}}</div>
                    <div class="d-none d-sm-none d-md-block col-md-7 d-flex justify-content-center"> {{"mainModule.clinicmanager.main.ClinicNumber" | translate}}</div>
                    <!-- <div class="d-none d-sm-none d-md-block col-md-2 d-flex justify-content-center"> {{"mainModule.clinicmanager.main.Appointments" | translate}}</div> -->
                    <!-- <div class="d-none d-sm-none d-md-block col-md-2 d-flex justify-content-center"> {{"mainModule.clinicmanager.main.Location" | translate}}</div> -->
                    <div class="col-4 col-md-2 d-flex justify-content-center"> {{"mainModule.clinicmanager.main.Actions" | translate}}</div>
                </div>
                <div *ngFor="let item of ClinicList" class="row Clinic-table  ">
                    <div class="col-8 col-md-3 ">
                            <img class="Clinic-Logo-Style" 
                                src="{{IamgeURL}}{{item.Logo}}" 
                                onerror="this.src='../../../../assets/img/LogoAlternative.png';">
                            {{item.Name|slice:0:10}}
                    </div>
                    <div class="d-none d-sm-none d-md-block col-md-7 d-flex justify-content-center">
                        {{item.Phone}}
                    </div>
                    <!-- <div class="d-none d-sm-none d-md-block col-md-2 d-flex justify-content-center">
                       
                    </div> -->
                    <div class="col-4 col-md-2 d-flex justify-content-center">
                         &nbsp;&nbsp;&nbsp;
                        <i class="far fa-edit Icon-style" (click)="EditDoctorProfile(item.ClinicId)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Scroll To This When Add New Period In This Day  -->

 <!-- spinner -->
 <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white"> {{ 'spinner' | translate }} </p>  
  </ngx-spinner> 