  <div class="row" style="min-height: 100%;padding: 15px;  background-color: #232227;">

      <!-- Logo Icon -->
    <div class="col-12
                col-md-4
                d-flex
                justify-content-center
                align-items-center"
                style="height: 100%;padding: 5px;">

      <img src="../../../assets/img/Footer/logoFooter.png"
           height="42"
           width="161">
    </div>

    <!-- Copy Rights -->
    <div class="col-12
                col-md-5
                d-flex
                justify-content-center
                align-items-center"
          style="padding: 5px;">

      <small class="copyRights"> © 2021 salamtech. All rights reserved. </small>

    </div>

    <!-- Social Media -->
    <div class="col-12
                col-md-3
                d-flex
                justify-content-center
                align-items-center"
          style="padding: 5px;">

      <img src="../../../assets/img/linkedin.webp" class="linkedin">

     <img src="../../../assets/img/facebook.webp" class="facebook">

     <img src="../../../assets/img/twitter.webp" class="twitter">

     <!-- <img src="assets/img/path-812.webp"
     srcset="assets/img/path-812@2x.webp 2x,
     assets/img/path-812@3x.webp 3x"
     class="Path-812"> -->

    </div>