
.copyRights { 
  text-align: end;
  color: #fff;
}

img.Path-812 { 
  width: 2rem;
  margin-right: 8px;
  background-color: #232227;
}

img.twitter { 
  width: 2rem;
  margin-right: 8px;
  /* background-color: #232227; */
}

img.facebook { 
  width: 2rem;
  margin-right: 8px;
  /* background-color: #232227; */
}

img.linkedin {
  width: 2rem;
  margin-right: 8px;
  /* background-color: #232227; */
}


.row-terms
{
    /* height: 10%; */
}
.Terms-Condition-style
{
    /* height: 50px; */
    color: #727685;
    text-align: center;
}
.termsCondition-style
{
    color:#00d2ca;
    cursor: pointer;
}
