<div class="row" style=" background-color: #14183a">
  <!-- Logo Icon -->
  <div class="col-12 col-md-4 d-flex justify-content-center align-items-center" style="height: 100%; padding: 5px">
    <img src="../../../assets/img/Footer/logoFooter.png" height="42" width="161" />
  </div>

  <!-- Copy Rights -->
  <div class="col-12 col-md-5 d-flex justify-content-center align-items-center" style="padding: 5px">
    <small class="copyRights" style="padding-left: 10px;padding-right:10px;"> © 2021 Salamtak. All rights reserved.
    </small><br>
    <span class="copyRights" style="padding-right: 115px;cursor: pointer;" routerLink="/privacy"> {{'PrivacyPolicy' |
      translate}}</span>

    <br />

  </div>

  <!-- Social Media -->
  <div class="col-12 col-md-3 d-flex justify-content-center align-items-center" style="padding: 5px">
    <a href="https://youtube.com/channel/UCzl-AcyKDzUlsaADCLUPgTQ" target="_blank">
      <img src="../../../assets/img/website/you.png" class="linkedin" />
    </a>

    <a href="https://www.facebook.com/Salamtakgroupapp" target="_blank">
      <img src="../../../assets/img/website/face.png" class="facebook" />
    </a>

    <a href="https://twitter.com/Salamtechapp?t=bm_eQUJu46gqaIK53pzwkg&s=09" target="_blank">
      <img src="../../../assets/img/website/twiter.png" class="twitter" />
    </a>

    <a href="https://www.instagram.com/salamtakgroupapp/" target="_blank">
      <img src="../../../assets/img/website/instgram.png" class="twitter" />
    </a>

    <a href="https://www.linkedin.com/company/salamtakgroup" target="_blank">
      <img src="../../../assets/img/website/lin.png" class="twitter" />
    </a>

    <a href="https://www.tiktok.com/@salamtakgroup" target="_blank">
      <img src="../../../assets/img/website/tik.png"  class="twitter" />
    </a>

  </div>

</div>
<!-- <div style="text-align: center;">
  <span class="copyRights" style="padding-right: 115px;cursor: pointer;" routerLink="/privacy">  {{'PrivacyPolicy' | translate}}</span>
</div> -->