<div class="" 
style=" background-color: #14183a;width: 98vw;">

<div class="d-flex align-items-center justify-content-between">
  <!-- Logo Icon -->
  <div class=" d-flex justify-content-center align-items-center" 
  style="height: 100%; padding: 5px;">
    <img src="../../../assets/img/Footer/logoFooter.png" height="42" width="161" />
  </div>

  <!-- Copy Rights -->
  <div class="" 
  style="padding: 5px;">
        <div class="" style="text-align: center;">
          <div class="row">
            <div class="col-12  d-flex justify-content-center  ">
              <div class="">
                <small class="copyRights"> © 2021 Salamtak. All rights reserved.
                </small>
                <span class="copyRights" routerLink="/privacy"> {{'PrivacyPolicy' |
                  translate}}</span>
              </div>
            </div>
          </div>
    </div>
    <div class="row row-terms" >
      <div class="col-12 Terms-Condition-style d-flex justify-content-center "  >
              <span class="" style="color:white ;">
                {{'mainModule.sideBar.singingUpYouAreApproveOur' | translate}} 
                <span class="termsCondition-style" routerLink="/terms">{{'mainModule.sideBar.Terms&Conditions' | translate}}</span>
              </span>
      </div>
    </div>
  </div>

  <!-- Social Media -->
  <div class=" d-flex justify-content-center align-items-center" 
  style="padding: 5px;">
    <a href="https://youtube.com/channel/UCzl-AcyKDzUlsaADCLUPgTQ" target="_blank">
      <img src="../../../assets/img/website/you.png" class="linkedin" />
    </a>

    <a href="https://www.facebook.com/Salamtakgroupapp" target="_blank">
      <img src="../../../assets/img/website/face.png" class="facebook" />
    </a>

    <a href="https://twitter.com/Salamtechapp?t=bm_eQUJu46gqaIK53pzwkg&s=09" target="_blank">
      <img src="../../../assets/img/website/twiter.png" class="twitter" />
    </a>

    <a href="https://www.instagram.com/salamtakgroupapp/" target="_blank">
      <img src="../../../assets/img/website/instgram.png" class="twitter" />
    </a>

    <a href="https://www.linkedin.com/company/salamtakgroup" target="_blank">
      <img src="../../../assets/img/website/lin.png" class="twitter" />
    </a>

    <a href="https://www.tiktok.com/@salamtakgroup" target="_blank">
      <img src="../../../assets/img/website/tik.png"  class="twitter" />
    </a>

  </div>
</div>


</div>
<!-- <div style="text-align: center;">
  <span class="copyRights" style="padding-right: 115px;cursor: pointer;" routerLink="/privacy">  {{'PrivacyPolicy' | translate}}</span>
</div> -->