
.copyRights { 
  text-align: end;
  color: #fff;
}

img.Path-812 { 
  width: 2rem;
  margin-right: 8px;
  background-color: #232227;
}

img.twitter { 
  width: 2rem;
  margin-right: 8px;
  /* background-color: #232227; */
}

img.facebook { 
  width: 2rem;
  margin-right: 8px;
  /* background-color: #232227; */
}

img.linkedin {
  width: 2rem;
  margin-right: 8px;
  /* background-color: #232227; */
}
