<div class="container-fluid">
    <!-- <div class="row">
        <div class="col-12 path-row">
            {{ "mainModule.main.Services" | translate }} > {{ "mainModule.main.Appointments" | translate }}
        </div>
    </div> -->

    <div class="row mt-4">
        <div class=" col-12" style="padding-left: 0px; padding-bottom: 20px">
          <div class="greenText" style="font-size: 16px; font-weight: 500">
            {{ "mainModule.main.Appointments" | translate}} 
          </div>
        </div>
      </div>
    

    <!-- Status Bar -->
    <div class="row mt-3">

        <div class="col-12 ">

            <div class="row">
                <div class="col-md-4 shared-menu-bar">
                    <div class="row ">
    
                        <div id="Current" class="col-12
                                                    col-md-4 
                                                    d-flex 
                                                    justify-content-center 
                                                    align-items-center 
                                                     py-2
                                                    changeCursor" 
                                             [routerLink]="['/main/appointment/current']">
                             {{'mainModule.appointment.Current'|translate}}           
                        </div>
    
                        <div id="History" class=" col-12 
                                               col-md-4
                                               d-flex 
                                               justify-content-center 
                                               align-items-center 
                                               py-2
                                               changeCursor"
                                        [routerLink]="['/main/appointment/history']">
                         {{'mainModule.appointment.History'|translate}}  
                        </div>
                        <div id="Filter" class="col-12
                                col-md-4 
                                d-flex 
                                justify-content-center 
                                align-items-center 
                                py-2
                                changeCursor" 
                                [routerLink]="['/main/appointment/filter-appointment']">
                            {{'mainModule.appointment.Filter'|translate}}           
                        </div>
    
                    </div>
                </div>
                <div class="col-md-4">   </div>


            </div>
        </div>

    </div>

    <!-- Shared Location => Display Service Components -->
    <div class="row  ">
        <div class="col-12  Shared-Component">
            <!-- <div class=""> -->
                <router-outlet>  </router-outlet>
            <!-- </div>  -->
        </div>
    </div>

</div>

