<div class="container-fluid">
    <!-- <div class="row">
        <div class="col-12 path-row">
            {{ "mainModule.main.Services" | translate }} > {{ "mainModule.main.Appointments" | translate }}
        </div>
    </div> -->

    <!-- Status Bar -->
    <div class="row mt-5">

        <div class="col-12 ">

            <div class="row">
                <div class="col-md-4 shared-menu-bar">
                    <div class="row ">
    
                        <div id="Current" class="col-12
                                                    col-md-6 
                                                    d-flex 
                                                    justify-content-center 
                                                    align-items-center 
                                                     py-2
                                                    changeCursor" 
                                             [routerLink]="['/main/appointment/current']">
                             {{'mainModule.appointment.Current'|translate}}           
                        </div>
    
                        <div id="History" class=" col-12 
                                               col-md-6 
                                               d-flex 
                                               justify-content-center 
                                               align-items-center 
                                               py-2
                                               changeCursor"
                                        [routerLink]="['/main/appointment/history']">
                         {{'mainModule.appointment.History'|translate}}  
                        </div>
    
                    </div>
                </div>
                <div class="col-md-4">   </div>
                <div class="col-md-4 d-md-flex justify-content-around d-block text-center">
                   
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle Filter-Btn  py-2  px-4 mt-2 mx-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <img src="../../../../assets/img/FilterIcon.png">
                        </button> 
                        <form [formGroup]="searchForm" class="dropdown-menu p-4 "    aria-labelledby="dropdownMenuButton" style="width: 300px;">
                            <p class=" text-center mb-0"  >filter</p>
                            <div class="dropdown-divider"></div>
                            <div class="form-group">
                            <label for="name">{{'mainModule.EMR.Patient.PatientName' | translate}}</label>
                            <input type="text" formControlName="PatientName" class="form-control" id="name" >
                            </div> 

                            <div class="form-group">
                                <label for="clinic">{{'mainModule.clinicmanager.main.ClinicName' | translate}}</label>
                                <select class=" form-select form-control"  id="clinic" formControlName="ClinicId">
                                    <option selected  value="">{{'mainModule.clinicmanager.main.ClinicName' | translate}}</option>
                                    <option *ngFor="let item of clinics" [value]="item.ClinicId">{{item.Name}}</option> 
                                </select>
                            </div> 

                            <div class="form-group">
                                <label for="type">{{'mainModule.appointment.current.Type' | translate}}</label>
                                <select class=" form-select form-control" id="type" formControlName="MedicalExaminationTypeId">
                                    <option selected value="" >{{'mainModule.appointment.current.Actions' | translate}}</option>
                                    <option *ngFor="let item of medicalTypes" [value]="item.Id">{{item.Name}}</option> 
                                </select>
                            </div> 
                        
                            <div class="row">
                                <!-- <label for="">{{'mainModule.appointment.current.Date' | translate}}</label> -->
                                <div class="col-12 col-md-12 row align-items-center">
                                <div class="col-2">
                                    <label class="lbl-input "  > {{'mainModule.Schedule.From' | translate}}</label>
                                </div>
                                <div class="col-10">
                                    <input type="date"
                                    formControlName="FromDate" 
                                    class="form-control input-style-period" 
                                    style="padding-right: 15px;">
                                    <app-fielderror 
                                    [displayError]="isFieldValid('FromDate')"
                                    errorMsg="{{'errorField.DateFrom' | translate}}"
                                    ></app-fielderror>
                                </div> 
                                </div> 
                                <div class="col-12 col-md-12 mt-2 row align-items-center">
                                    <div class="col-2">
                                        <label class="lbl-input  "  > {{'mainModule.Services.Home_Visit.To' | translate}}</label>
                                    </div>
                                    <div class="col-10">
                                        <input type="date"
                                        formControlName="ToDate"  
                                        class="form-control input-style-period" 
                                        style="padding-right: 15px;" >
                                        <app-fielderror 
                                        [displayError]="isFieldValid('ToDate')"
                                        errorMsg="{{'errorField.DateTo' | translate}}"
                                        ></app-fielderror>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" (click)="submit()" class="btn btn-outline-success mt-3">APPLY FILTER</button>
                            </div>
                        </form>
 
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Shared Location => Display Service Components -->
    <div class="row  ">
        <div class="col-12  Shared-Component">
            <!-- <div class=""> -->
                <router-outlet>  </router-outlet>
            <!-- </div>  -->
        </div>
    </div>

</div>

