<div class="container">
  <div class="row p-5">
    <div class="col-12">
      <div class="row d-flex justify-content-center">
        <!--  -->
        <div class="col-12 col-md-4 p-3">
          <div class="row dashboard-stat">
            <div class="col-4 d-flex justify-content-center align-items-center" style="height: 178px">
              <img src="{{ imgURL1 }}" class="img-style" />
            </div>
            <div class="col-7 py-5 d-flex justify-content-center align-items-center">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <label class="number-percent">
                    {{ response?.TodayAppointmentCount }}
                  </label>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <label class="Total-Count"> Today Appointment Count </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div class="col-12 col-md-4 p-3">
          <div class="row dashboard-stat">
            <div class="col-4 d-flex justify-content-center align-items-center" style="height: 178px">
              <img src="{{ imgURL2 }}" class="img-style" />
            </div>
            <div class="col-7 py-5 d-flex justify-content-center align-items-center">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <label class="number-percent">
                    {{ response?.TotalAppointmentCount }}
                  </label>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <label class="Total-Count"> Total Appointment Count </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div class="col-12 col-md-4 p-3">
          <div class="row dashboard-stat">
            <div class="col-4 d-flex justify-content-center align-items-center" style="height: 178px">
              <img src="{{ imgURL3 }}" class="img-style" />
            </div>
            <div class="col-7 py-5 d-flex justify-content-center align-items-center">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <label class="number-percent">
                    {{ response?.UpComingAppointmentCount }}
                  </label>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <label class="Total-Count">
                    UpComing Appointment Count
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row d-flex justify-content-center">
        <!--  -->
        <div class="col-12 col-md-4 offset-md-1 p-3 " *ngFor="let item of response?.getMedicalEximationListDtos">
          <div class="row dashboard-stat">
            <div class="col-4 d-flex justify-content-center align-items-center" style="height: 190px">
              <img src="{{ imgURLcall }}" class="img-style" />
            </div>
            <div class="col-6 py-5 d-flex justify-content-center align-items-center putleftborder">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <label class="number-percent">
                    {{ item.MedicalTypeCount }}
                  </label>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <label class="Total-Count">
                    {{ item.MedicalTypeName }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>